body{
    font-family: "Montserrat", sans-serif;
    background: #F3F5FC;
}

.logo{
    display: block;
    position: relative;
    padding: 40px 20px;
    width: 175px;
}

ul{
    width: 98%;
}

li{
    display: inline-block;
    text-align: center;
    margin-left: 1.5%;
}

.elementoUno{
    padding: 30px 20px;
    width: 60%;
    margin-left: 8%;
    vertical-align: top;
    box-sizing: border-box;
}


#texto-entrada{
    font-family: "Montserrat", sans-serif;
    width: 80%;
    height: 600px;
    color: #0A3871;
    font-size: 35px;
    background-color: #f3f5fc;
    border: none;
    outline: none;
    resize: none;
    cursor: pointer;
    display: block;
    margin: 0 auto;

}

textarea::placeholder{
    color: #0A3871;
    font-size: 35px;
}

.aviso{
    margin-right: 55%;
}

#restriccion{
    display: inline;
    padding: 0px 2px    ;
}

.opciones{
    padding: 20px;
}

.opciones input{
    width: 40%;
    padding: 15px;
    font-size: 30px;
    border-radius: 20px;
    cursor: pointer;
    border-style: solid; 
    border-color: #0A3871;
    margin-right: 3.3%;
    
}

#botonEncriptar{
    background-color: #0A3871;
    color: white;
}

#botonDesencriptar{
    background-color: #D8DFE8;
}

#botonEncriptar:disabled {
    background-color: #0A3871;
    color: white;
    opacity: 1; /* Elimina cualquier efecto de opacidad */
    cursor: not-allowed; /* Opcional: indica que el botón está deshabilitado */
}

#botonDesencriptar:disabled {
    background-color: #D8DFE8;
    color: #0A3871;
    opacity: 1; /* Elimina cualquier efecto de opacidad */
    cursor: not-allowed; /* Opcional: indica que el botón está deshabilitado */
}

.elementoDos{
    width: 30%;
    vertical-align: left;
    background-color: white;
    box-sizing: border-box;
    border-radius: 30px;
}

.elementoDos h1{
    font-size: 30px;
    font-weight: bold;
    padding-top: 30px;
}

.elementoDos p{
    padding-top: 25px;
}

.caja-actual{
    padding: 30% 30px;
}

.presencia-caja{
    padding: 30px;
    display: none;
}

#texto-salida{
    text-align: left;
    width: 100%;
    height: 570px;
    color: #0A3871;
    font-size: 25px;
    overflow: auto; 
    white-space: pre-wrap;
    word-wrap: break-word; 
    padding: 15px; 
    box-sizing: border-box;
}

#botonCopiar{
    width: 100%;
    padding: 15px;
    margin-top: 9%;
    font-size: 30px;
    border-radius: 20px;
    cursor: pointer;
    border-style: solid; 
    border-color: #0A3871;
}