body{
    font-family: "Montserrat", sans-serif;
    background: #F3F5FC;
}

#logo{
    display: block;
    position: relative;
    padding: 40px 0 0 20px;
    width: 10%;
}

textarea{
    font-family: "Gemunu Libre", sans-serif;
    color: #0A3871;
    font-size: 35px;
    width: 50%;
    height: 100%;
    background-color: rgb(248,244,252);
    border: none;
    outline: none;
    resize: none;
    cursor: pointer;
    display: block;
}

textarea::placeholder{
    color: #0A3871;
    font-size: 35px;
}

#restriccion{
    display: inline;
    padding: 0px 2px    ;
}

p{
    display: inline;
}

#opciones{
    padding: 20px;
}

#opciones input{
    width: 300px;
    padding: 15px;
    font-size: 30px;
    border-radius: 20px;
    cursor: pointer;
    border-style: solid; 
    border-width: 1px; 
    border-color: #0A3871;
}

#botonEncriptar{
    background-color: #0A3871;
    color: white;
}

#botonDesencriptar{
    background-color: #D8DFE8;
}